<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Калькулятор</title>
</head>
<body>
<div style="margin-left:10em">
    <h1>Calculator</h1>
    <h3>Домашнее задание Калькулятор</h3>
    <p>
        <a href="/calc" >Переход на страницу калькулятора</a>
    </p>
</div>

</body>
</html>